# -*- mode: snippet; require-final-newline: nil -*-
# name: Ember Observer
# key: observer
# binding: direct-keybinding
# expand-env: ((yas-indent-line 'fixed))
# --
${1:fooChanged}: Ember.computed '${2:dependencies}', ->
  $0
