# -*- mode: snippet; require-final-newline: nil -*-
# name: Ember Event
# key: on
# binding: direct-keybinding
# expand-env: ((yas-indent-line 'fixed))
# --
${1:onEvent}: Ember.computed '${2:eventName}', ->
  $0
