# -*- mode: snippet; require-final-newline: nil -*-
# name: Ember Computed Property
# key: prop
# binding: direct-keybinding
# expand-env: ((yas-indent-line 'fixed))
# --
${1:fooProp}: Ember.computed '${2:dependencies}', (key, val)->
  $0
