# -*- mode: snippet; require-final-newline: nil -*-
# name: Ember Computed Property With Setter
# key: setprop
# binding: direct-keybinding
# expand-env: ((yas-indent-line 'fixed))
# --
${1:fooProp}: Ember.computed '${2:dependencies}',
  get: ->
    $3
  set: (key, value) ->
    $4
