# -*- mode: snippet; require-final-newline: nil -*-
# name: Ember Run Once
# key: runonce
# binding: direct-keybinding
# expand-env: ((yas-indent-line 'fixed))
# --
Ember.run.once ${1:@}, '${2:functionName}'${3:, ${4:args}}