# -*- mode: snippet; require-final-newline: nil -*-
# name: Ember Computed Property
# key: prop
# binding: direct-keybinding
# --
${1:fooProp}: Ember.computed('${2:dependencies}', function() {
${3:// body}
}),
